/* Header */

.link_text_header {
  display: block;
}
.icons_header {
  display: none;
}



.box_header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 30px;


}


.box_header_img a img {
  width: 120px;
}

.box_nav_header{
  box-sizing: border-box;
}
.box_nav_header nav{
  display: flex;
  gap: 10px

}


/* HEADER category */
.box_categoryC1_header,.box_icons_header, .box_inputSearch_header, .box_categoryC1_nav_header nav ul  {
  display: flex;

}


.box_categoryC1_header {
 display: block;
justify-content:space-between;

}

.box_categoryC1_nav_header {
display: flex;
 font-size: 80%;
 margin: 30px;
 clear: both;

}

.box_categoryC1_nav_header ul {
  gap: 10px;
}


.box_categoryC1_nav_header li a {

  color: rgb(39, 38, 38);


}

/* input search header */

.container_SearchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.box_inputSearch_header .search-wrapper {
  display: flex;
  align-items: center;
}

.box_inputSearch_header input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 10px;
}

.box_icons_header {
  display: flex;
  align-items: center;
}

.box_icons_header a {
  position: relative;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.box_icons_header svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.box_icons_header a:hover svg {
  fill: #111;
}

.icon-cart {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

/* icon cart 2 */

.icon-cart2 {
  position: relative;
  /* display: inline-block; */
}

.icon-cart2 svg {
  transition: fill 0.3s ease;
}

/* Estilo para o número do carrinho */
.cart-count2 {
  position: absolute;
  top: -5px; /* Ajuste essa propriedade conforme necessário */
  right: -10px; /* Ajuste essa propriedade conforme necessário */
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  display: inline-block;
}

/* Efeito ao passar o mouse sobre o ícone */
.icon-cart2:hover svg {
  fill: #333; /* Cor mais escura ao passar o mouse */
}

/* Estilo para escurecer o ícone ao passar o mouse */
.icon-cart2:hover {
  opacity: 0.7;
}

/* box prodotti */

.box_prodotti_header  {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  gap: 9px;
  padding: 10px 0;


}

.box_prodotti_header a {
  font-size: 13px;
  color: rgb(22, 20, 20);
  cursor: pointer;
  text-decoration: underline;

}



.box1_nav_header nav div:nth-child(n + 2) {
  border-left: solid 1.2px black;

}
.link_text_header {
display: flex;
align-items: flex-start;

}

.link_text_header {

 padding: 0 6px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: rgb(12, 12, 12);
 font-size: 11px;

}

/* box_category Nav Header menu nav que aparece evidencia scopri sport e td mais */


.box_categoryC1_header {
 display: flex;
 justify-content: center;

}

.box_categoryC1_nav_header_newEvidence {
 background-color: white;

 font-size: 13px;
 position: absolute;
 left: 0px;


}

.boxCAT1 {
 width: 100%;
 padding: 20px 0;
 display: flex;
 justify-content: center;
 gap: 60px;



}


.box_inEvidenza  ul, .box_scopriIcone ul, .box_scopriSport  ul{
 display: flex;
 flex-direction: column;

}

.box_scopriSport li {
 cursor: pointer;
}

.boxCAT1 p{
 font-weight: 600;
}
.boxCAT1 li {
 line-height: 20px;
}


.box2_categoryC1_header {
 display: flex;
 gap: 10px;
}

/* Estilos para o menu lateral */
.menu-laterale {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; /* Permite rolagem no menu lateral */
}

.menu-laterale ul {
  list-style: none;
  padding: 0;
}

.menu-laterale > ul {
  padding-left: 0; /* Remove padding do menu principal */
}

.menu-laterale li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  transition: font-size 0.2s; /* Transição suave para o hover */
  text-align: left; /* Alinha o texto à esquerda */
}

.menu-laterale button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-laterale ul ul {
  padding-left: 0; /* Remove padding do submenu para alinhar à esquerda */
  margin-top: 5px; /* Espaço entre o item e o submenu */
}

.menu-laterale ul ul li {
  padding: 5px 0; /* Espaçamento interno dos itens do submenu */
  border: none; /* Remove bordas do submenu */
}

.titulo-subcategoria {
  font-size: 16px; /* Tamanho do título da subcategoria */
  font-weight: bold; /* Destaca o título */
}

.menu-laterale ul ul li span {
  font-size: 14px; /* Tamanho da fonte dos itens do submenu */
}

.menu-laterale li:hover {
  font-size: 18px; /* Aumenta o tamanho da fonte ao passar o mouse */
}




@media (max-width: 768px) {
  .icons_header {
    display: flex; /* Torna os ícones visíveis */
  }

  .link_text_header {
    display: none; /* Esconde o texto dos links */
  }

  #searchInput {
    width: 100%;
  }

  .box_header_img img{
    width: 100%;
  }

  .box_categoryC1_header{
    display: none;
  }

  .container_SearchHeader {
    justify-content: center;
  }

  .box_icons_header{
    display: none;
  }




}
