/* box banner */

.box_banner_header {

  display: flex;

  clear: both;
}

.box_banner_header img {

  min-width: 100%;


}


/* box fixed banner */


.box_banner_fixed_header {

  font-size: 9px;
  background-color: transparent;
  height: none;
  padding: 10px;
	position: relative;
  bottom: 150px;
  color: #f5f5f5;
  margin-left:20px ;


}

.box_banner_fixed_header h1{
  font-size: 12px;
  font-weight: 800;

}

.box_banner_fixed_header p{
  padding: 8px 0;

}

.box_banner_info_header {
  display: flex;
  gap: 10px;

}

.box_banner_info_header a {
  border: solid 1px transparent;
  background-color: antiquewhite;
  border-radius: 30px;
  padding: 6px;
  color: rgb(18, 17, 17);
}


.box1_nav_header nav div:nth-child(n + 2) {
   border-left: solid 1.2px black;

 }
.link_text_header {
display: flex;
align-items: flex-start;

}

.link_text_header {

  padding: 0 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(12, 12, 12);
  font-size: 11px;

}

/* box_category Nav Header menu nav que aparece evidencia scopri sport e td mais */


.box_categoryC1_header {
  display: flex;
  justify-content: center;

}

.box_categoryC1_nav_header_newEvidence {
  background-color: white;

  font-size: 13px;
  position: absolute;
  left: 0px;


}

.boxCAT1 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 60px;



}


.box_inEvidenza  ul, .box_scopriIcone ul, .box_scopriSport  ul{
  display: flex;
  flex-direction: column;

}

.box_scopriSport li {
  cursor: pointer;
}

.boxCAT1 p{
  font-weight: 600;
}
.boxCAT1 li {
  line-height: 20px;
}


.box2_categoryC1_header {
  display: flex;
  gap: 10px;
}
.box_banner_fixed_header {

  font-size: 9px;
  background-color: transparent;
  height: none;
  padding: 10px;
	position: relative;
  bottom: 150px;
  color: #f5f5f5;
  margin-left:20px ;


}

.box_banner_fixed_header h1{
  font-size: 12px;
  font-weight: 800;

}

.box_banner_fixed_header p{
  padding: 8px 0;

}

.box_banner_info_header {
  display: flex;
  gap: 10px;

}

.box_banner_info_header a {
  border: solid 1px transparent;
  background-color: antiquewhite;
  border-radius: 30px;
  padding: 6px;
  color: rgb(18, 17, 17);
}
