<div class="box_banner_header">
  <img class="img_grande" src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_3027,c_limit/5fab8bfc-28e0-488f-8ee9-25e064774a69/nike-just-do-it.jpg" alt="Banner" />
  <img class="img_picola" src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/h_861,c_limit/af4dea94-3a3f-4ed0-94f4-01f816175afe/nike-just-do-it.jpg" alt="Banner" />

  <div class="box_banner_fixed_header">
    <h2>NON SPRECARE</h2>
    <h3>LA TUA ENERGIA</h3>
    <p>Acquisita ora!</p>
  </div>
</div>
