<div class="containerSearch"  *ngIf="showComponentA">
  <div class="search_input2" style="display: flex;">
    <button (click)="onSearch()" style="border: solid 1px transparent; cursor: pointer;">
      <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
        <path stroke="currentColor" stroke-width="1.5"
          d="M13.962 16.296a6.716 6.716 0 01-3.462.954 6.728 6.728 0 01-4.773-1.977A6.728 6.728 0 013.75 10.5c0-1.864.755-3.551 1.977-4.773A6.728 6.728 0 0110.5 3.75c1.864 0 3.551.755 4.773 1.977A6.728 6.728 0 0117.25 10.5a6.726 6.726 0 01-.921 3.407c-.517.882-.434 1.988.289 2.711l3.853 3.853">
        </path>
      </svg>
    </button>
    <input [formControl]="queryField" style="width: 100%; height: 40px;" type="text" id="searchInput" placeholder="Cerca">
  </div>

  <div style="width: 100%; height: 300px; display: flex; justify-content: center;" class="containerSearch_item">
    <div class="box_itemSearch" *ngFor="let result of results$ | async" (click)="onSelectItem(result.id)" >
      <a routerLink="/nuovi-arrivi" (click)="hideComponentA()" >
        <img [src]="result.immagine" alt="{{ result.nome }}">
        <div class="box_info_item">
          <span>{{ result.nome }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
