<div id="container">
  <div id="p-box1" class="left width70">
    <div class="p-box1_sec1">
      <h3>Pagamento</h3>
      <span>Paese/regione di fatturazione</span>
      <div>
        <span>Italia</span>
        <span class="underline">Modifica</span>
      </div>
    </div>

    <div class="p-box1_sec2">
      <input type="checkbox" />
      <span
        >Possiedi una gift card, un voucher profotto o un codice
        promozionale?</span
      >
    </div>

    <div class="p-box1_sec3">
      <label for="#">Seleziona metodo di pagamento</label>

      <div>
        <input type="radio" name="radio" />
        <label for="#"
          ><img
            id="card"
            src="icon/iconmonstr-credit-card-thin.svg"
            alt=""
          />Carta di credito o debito</label
        >
      </div>

      <div>
        <input type="radio" name="radio" />
        <label for="#"
          ><img class="box1_sec2Img" src="icon/paypal2.svg" alt=""
        /></label>
      </div>

      <div>
        <input type="radio" name="radio" />
        <label for="#"
          ><img
            class="box1_sec2Img"
            src="icon/google-play-badge-logo-svgrepo-com.svg"
            alt=""
        /></label>
      </div>
    </div>

    <div class="p-box1_sec4">
      <label for="#">Aggiungi carta</label>
      <div class="container1_sec4">
        <div class="p-box1_sec4_1 left">
          <input class="input2Sec4_2" type="number" /><img
            id="lock"
            src="icon/lock-alt-svgrepo-com.svg"
            alt=""
          />
        </div>

        <div class="sec4_2_3 right">
          <input class="left" type="date" />
          <input class="right" type="number" />
        </div>

        <div class="p-box1_sec5">
          <a class="infoMyCvv underline">Where is my CVV</a>
        </div>
      </div>
    </div>
  </div>

  <div id="p-box2" class="pag_box2 right width30">
    <img class="diviso2 left" src="Scarpa_2/3.jpg" alt="" />
    <div class="diviso2 right">
      <h3>Scarpa Nike Air Max Dn</h3>
      <span>Taglia/Misura</span>
      <span>EU 43</span>
      <span>Qtà</span>
      <span>1</span>
      <span>150,00</span>
    </div>
  </div>
</div>
