<app-banner-home></app-banner-home>

<div class="boxSliders">

  <div class="new_arrivals_product">
    <h2>Tutte le migliori novità</h2>
    <div class="slider-wrap">
      <div class="slider-main">

        <div class="item">
          <div class="text">
            <a href="#">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_750,c_limit/eaf5266c-cd88-41ef-824f-c21e160358c4/nike-just-do-it.png" alt="">
              <h3>Acquisita Air</h3>
            </a>
          </div>
        </div>

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_563,c_limit/80e64f3a-7b6d-499e-be73-bcadec058841/image.png" alt="">
              <h3>Mad Ambition Pack</h3>
            </a>
          </div>
        </div>

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_563,c_limit/38aa8e7e-f286-464b-a2a2-ae85a7f67904/nike-just-do-it.jpg" alt="">
              <h3>Nike Style By: Shox TL</h3>
            </a>
          </div>
        </div>

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/h_563,c_limit/f3f00bdf-1765-404f-b18f-a46094d50bcf/image.jpg" alt="">
              <h3>Nike Free Metcon 6</h3>
            </a>
          </div>
        </div>


      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
          </svg>
        </button>
        <button type="button" class="next" appNext>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M8.474 18.966L15.44 12 8.474 5.033"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>


  <div class="icons_product">
    <h2>Acquista le nostre icone</h2>
    <div class="slider-wrap">
      <div class="slider-main">

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_599,c_limit/800b58e3-b669-4dc3-a2d4-e68f5688d151/nike-just-do-it.jpg" alt="">
              <span>Air Bocker</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_576,c_limit/c61c8b70-ef28-4615-9b81-76c17467681c/nike-just-do-it.jpg">
              <span>Air Paxine</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_576,c_limit/64b7ce43-fe36-4a02-ae10-b8251a33d847/nike-just-do-it.jpg">
              <span>Air Maxine</span>
            </a>
          </div>
        </div>

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_576,c_limit/64b7ce43-fe36-4a02-ae10-b8251a33d847/nike-just-do-it.jpg">
              <span>Air Maxine</span>
            </a>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
          </svg>
        </button>
        <button type="button" class="next" appNext>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M8.474 18.966L15.44 12 8.474 5.033"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="sport_product">
    <h2>Acquista le nostre sport</h2>
    <div class="slider-wrap">
      <div class="slider-main">


        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_3.0,cs_srgb/h_300,c_limit/0918b596-bcff-46a7-ba08-8384e7fcdd08/nike-just-do-it.jpg">
              <span>Tennis</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.6,cs_srgb/w_600,c_limit/e36a4a2b-4d3f-4d1c-bc75-d6057b7cec87/nike-just-do-it.jpg">
              <span>Air Maxine</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.6,cs_srgb/w_600,c_limit/38ed4b8e-9cfc-4e66-9ddd-02a52314eed9/nike-just-do-it.jpg" alt="">
              <span>Air nasx9</span>
            </a>
          </div>
        </div>

        <div class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.6,cs_srgb/h_308,c_limit/a66fe593-9859-4f03-af15-e01c18a0f0af/nike-just-do-it.jpg">
              <span>Air Loops</span>
            </a>
          </div>
        </div>

      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
          </svg>
        </button>
        <button type="button" class="next" appNext>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M8.474 18.966L15.44 12 8.474 5.033"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="news_shoes">
    <h2>Novità di questa settimana</h2>
    <div class="slider-wrap">
      <div class="slider-main">

        <div *ngFor="let prodotto of prodotti" class="item">
          <div class="text">
            <a href="">
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_599,c_limit/800b58e3-b669-4dc3-a2d4-e68f5688d151/nike-just-do-it.jpg" alt="">
              <div class="news_shoesBloco_info">
                <span>{{prodotto.nome}}</span>
                <span>{{prodotto.prezzo}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
          </svg>
        </button>
        <button type="button" class="next" appNext>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none">
            <path stroke="currentColor" stroke-width="1.5" d="M8.474 18.966L15.44 12 8.474 5.033"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>


</div>
