<div id="container_Main" *ngIf="prodotto">
  <section class="main_box2">
    <img [src]="prodotto.immagine" alt="{{ prodotto.nome }}" >
  </section>
  <section class="main_box3">
    <div id="boxInfo1">
      <h1 id="nome_prodotto">{{prodotto.nome}}</h1>
      <span id="prezzoSite">{{prodotto.prezzo}}</span>
    </div>
    <div id="boxInfo2">
      <div id="boxInfo2_box1">
        <span>Seleziona la taglia/misura</span>
        <span class="boxInfo2_span"
          >Guida alle taglie e alle misure</span
        >
      </div>

      <div id="boxInfo2_taglie">
        <button class="taglie_button"><span>EU 38.5</span></button>
        <button class="taglie_button"><span>EU 39</span></button>
        <button class="taglie_button"><span>EU 40</span></button>
        <button class="taglie_button"><span>EU 40.5</span></button>
        <button class="taglie_button"><span>EU 41</span></button>
        <button class="taglie_button"><span>EU 42</span></button>
        <button class="taglie_button"><span>EU 42.5</span></button>
        <button class="taglie_button"><span>EU 43</span></button>
        <button class="taglie_button"><span>EU 44</span></button>
        <button class="taglie_button"><span>EU 44.5</span></button>
        <button class="taglie_button"><span>EU 45</span></button>
        <button class="taglie_button"><span>EU 45.5</span></button>
        <button class="taglie_button"><span>EU 46</span></button>
        <button class="taglie_button"><span>EU 47</span></button>
        <button class="taglie_button"><span>EU 47.5</span></button>
        <button class="taglie_button"><span>EU 48.5</span></button>
        <button class="taglie_button"><span>EU 49.5</span></button>
      </div>
      <div class="divStyleScelta">hai scelto la taglia: <span></span></div>
      <div class="divStyleScelta">devi sceliere la taglia </div>

      <div id="container_taglie">
        <button class="buttonAddCarello">
          <span>Aggiungi al carello</span>
        </button>
        <button class="buttonBuy">
          <span>Aggiungi ai preferiti &#9825;</span>
        </button>
      </div>
    </div>
    <div class="container" style="display: none;">
      <div class="container_boxCarrello">
        <div class="box-1">
          <img class="box-img1" src="icon/icons8-checkmark.svg" alt="" />
          <span id="addCarrello">Aggiunto al carrello </span>
          <img class="box-img2" src="icon/icons8-delete.svg" alt="" />
        </div>
        <img class="box-img3 left" [src]="prodotto.immagine" alt="{{ prodotto.nome }}" />
        <div class="box-2">
          <h3 id="prodotto">{{prodotto.nome}}</h3>
          <span>Taglia/Misura</span>
          <span id="taglia">{{prodotto.taglia}}</span>
          <span id="prezzo">{{prodotto.prezzo}}</span>
        </div>
        <div class="box-3">
          <button>Visualizza carrello (<span></span>)</button>
          <button><span>Pagamento</span></button>
        </div>
      </div>
    </div>

  </section>
</div>
