<div id="container_Main" *ngIf="prodotto">
  <section class="main_box2">
    <img [src]="prodotto.immagine" alt="{{ prodotto.nome }}" >
  </section>
  <section class="main_box3">
    <div id="boxInfo1">
      <h1 id="nome_prodotto">{{prodotto.nome}}</h1>
      <span id="prezzoSite">{{prodotto.prezzo}}</span>
    </div>
    <div class="colori_prodotti">
      <span>Seleziona un colore</span>
      <div style="display: flex; gap: 10px;" class="colori_options">
        <button
          *ngFor="let colore of prodotto.colori_disponibili"
          class="colore_button"
          (click)="selezionaColore(colore)"
        >
          <span>{{ colore }}</span>
        </button>
      </div>
      <div *ngIf="coloreSelezionato" class="divStyleScelta">Hai scelto il colore: <span>{{ coloreSelezionato }}</span></div>
      <div *ngIf="erroreColore" class="error-scelta" style="color: brown;">
        devi scegliere il colore
      </div>

    </div>
    <div id="boxInfo2">
      <div id="boxInfo2_box1">
        <span>Seleziona la taglia/misura</span>
        <span class="boxInfo2_span"
          >Guida alle taglie e alle misure</span
        >
      </div>

      <div id="boxInfo2_taglie">
        <button
          *ngFor="let taglia of prodotto.taglie_disponibili"
          class="taglie_button"
          [class.selected]="taglia === tagliaSelezionata"
          (click)="selezionaTaglia(taglia)"
        >
          <span>{{ taglia }}</span>
        </button>
      </div>
      <div *ngIf="tagliaSelezionata" class="divStyleScelta">hai scelto la taglia: <span>{{ tagliaSelezionata }}</span></div>
      <div *ngIf="erroreTaglia" class="error-scelta" style="color: brown;">devi sceliere la taglia </div>

      <div id="container_taglie">
        <button class="buttonAddCarello" (click)="aggiungiAlCarrello()">
          <span>Aggiungi al carello</span>
        </button>
        <button class="buttonBuy">
          <span>Aggiungi ai preferiti &#9825;</span>
        </button>
      </div>
    </div>
    <div class="container" *ngIf="mostraCarrello">
      <div class="container_boxCarrello">
        <div>
          <button class="close_div" (click)="chiudiCarrello()">chiudi</button>
        </div>
        <div class="box-1">
          <span id="addCarrello">Aggiunto al carrello</span>

        </div>
        <img class="box-img3" [src]="prodotto.immagine" alt="{{ prodotto.nome }}" />
        <div class="box-2">
          <h3 id="prodotto">{{prodotto.nome}}</h3>
          <span>Taglia/Misura</span>
          <span id="taglia" *ngIf="tagliaSelezionata">{{ tagliaSelezionata }}</span>
          <span>Colore</span>
          <span id="colore" *ngIf="coloreSelezionato">{{ coloreSelezionato }}</span>
          <span id="prezzo">{{prodotto.prezzo}}</span>
        </div>
        <div class="box-3">
          <button (click)="visualizzaCarrello()">Visualizza carrello</button>
          <button (click)="vaiAlPagamento()">Pagamento</button>
        </div>
      </div>
    </div>
  </section>
</div>
