
#container_Main {
  padding-top: 20px;
  margin: 0 auto;
  width: 80% ;
	display: flex;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;


}


.font {
  margin-bottom: 20px;
}


 .main_box2 img {
	width: 450px;

}


.main_box2 div button img {
	width: 50%;
	height: auto;
}

#boxInfo2_box1{
 display: flex;
 gap: 10px;

 align-items: baseline;
}

.boxInfo2_span{
  font-size: 12px;
 }


 #boxInfo2_taglie {
  padding-top: 10px;
   display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 200px;
  gap: 5px;
  background-color: rgb(250, 249, 250);


  margin-bottom: 20px;
 }

 #boxInfo2_box1 > span {
  padding-top: 20px;

 }

 .taglie_button {
  width: 40px;
  height: 40px;


}

.divStyleScelta {
  font-size: 13px;
}



::-webkit-scrollbar {
    width: 0px;
}


#container_taglie{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;

}

.buttonAddCarello, .buttonBuy{
 width: 150px;
 height: 30px;
 border-radius: 10px;
 border: 1px solid transparent;
 background-color: thistle;
}

