<p>consenga works!</p>
<div id="container_consegna">
  <div id="container_consegna1">
    <h3 class="titolo">Opzioni di consegna</h3>
    <section id="sec_1">
      <form action="#">
        <div class="sec_1_box1">
          <button class="fontSize left diviso2">
            <img src="icon/shipping-timed.svg" alt="" />Spedizione
          </button>
          <button class="fontSize right diviso2">
            <img src="icon/search-location.svg" alt="" />Ritiro
          </button>
        </div>
        <div class="sec_1_box2">
          <input
            class="left diviso2"
            type="text"
            name="lname"
            placeholder="Nome*"
          >
          <input
            class="right diviso2"
            type="text"
            name="lname"
            placeholder="Cognome*"
          >
        </div>
        <input
          class="width100 sec_1_input1"
          type="text"
          name="lname"
          placeholder="Indirizzo e numero civico**"
        >
        <div class="sec_1_box3 left">
          <button ><img src="icon/add.svg" alt=""></button>
          <span class="fontSize"
            >Aggiungi Azienda, C/O, App., Interno, Unità</span
          >
        </div>
        <div class="sec_1_box4 width100 pulire">
          <input
            type="text"
            name="lname"
            placeholder="CAP*"
          >
          <input
            type="text"
            name="lname"
            placeholder="Città*"
          >
          <input
            type="text"
            name="lname"
            placeholder="Italia*"
          >
        </div>

        <div class="sec_1_box5 width100 left diviso2">
          <input
            class="left"
            type="text"
            name="lname"
            placeholder="E-mail*"
          />
          <input
            class="right"
            type="text"
            id="lname"
            name="lname"
            placeholder="Numero di telefono*"
          />
        </div>
      </form>
      <button class="buttonSave fontSize pulire">
        <span>Salva e continua</span>
      </button>
    </section>
    <section id="sec_2" class="pulire">
    <hr>
    <span class="titolo sec_2pgtoVerif">Pagamento</span>
    <hr>
    <span class="titolo sec_2pgtoVerif">Verifica dell'ordine</span>
    <hr>
    </section>
  </div>

  <section id="sec_3" class="left">
    <div class="carrello_box1 left">
      <h3 class="titolo left">Nel Carrello</h3>
      <input class="underline" placeholder="Modifica"/>
    </div>
    <div class="carrello_box2">
      <span class="left">Subtotale</span>
      <span class="right">233,40</span>
      <span class="left">Costi di spedizione stimati</span>
      <span class="right">0,00</span>
      <span class="left">Total</span>
      <span class="right">239,20</span>

    </div>

          <hr class="pulire">

    <div id="c-box3" class="carrello_box3">

      <img class="diviso2 left" src="Scarpa_2/3.jpg" alt="" />
      <div class="diviso2 right">
        <h3>Scarpa Nike Air Max Dn</h3>
        <span>Taglia/Misura</span>
        <span>EU 43</span>
        <span>Qtà</span>
        <span>1</span>
        <span>150,00</span>
      </div>
    </div>
  </section>
</div>
