*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  outline: none;

}

html, body {

  min-height: 100%;
}




a svg{
color: black;

}




/* All */

.h2_titolo {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(234, 230, 230);
}



/* component prodotti e sport */

#container_prodotti {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#filtro {
  width: 20%;
  border-right: 1px solid #ddd;
}

.filtro_opzione h4 {
  margin-bottom: 10px;
}

.filtro_opzione ul {
  list-style: none;
  padding-left: 0;
}

.filtro_opzione li {
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.filtro_opzione li:hover,
.filtro_opzione li.selezionato {
  background-color: #ddd;
}

.button-reset {
  margin-top: 20px;
  background-color: rgb(226, 212, 212);
  color: rgb(7, 6, 6);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

#lista_prodotti {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
}

.prodotto {
  border: 1px solid transparent;
  padding: 10px;
  text-align: center;
}

.prodotto img {
  max-width: 100%;
  height: auto;
}

.button-load-more {
  grid-column: span 3;
  text-align: center;
}

.button-load-more button {
  background-color:rgb(226, 212, 212);
  color:rgb(7, 6, 6);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}


@media (max-width: 768px) {

  #lista_prodotti {

    grid-template-columns: repeat(1, 1fr);
  }

  #container_new_arrivals , #container_prodotti {

    gap: 10px;
    flex-direction: column;


  }

  #filtro {

    gap: 20px;
    width: 100%;
  }

  #container_prodotti button {
    align-items: center;
  }
  #container_prodotti {
    align-items: center;
  }






}
